<html>
<body>
<p>Dear <%= email%></p>
<p>We have received a request to reset the password for this email. <a href="<%= reset_password_link%>">Reset your password here</a></p>
<p>If you did not initiate this request please ignore this email.</p>
</body>
</html>