<html>
<body>
<img src="<%= logo%>"/>
<p>Dear user,</p>
<p>Thank you for registering with Maydan Qatar, the first social news network in the Arab World!<br/>
Please <a href="<%= link%>">click on the link to complete your registration</a>.</p>
<p>We look forward to your active participation, and we welcome any comments on improving Maydan Qatar, to be sent to info@maydan.qa</p>
<p>Maydan Qatar team</p>
</body>
</html>