<html>
<body>
<img src="<%= logo%>"/>
<p>عزيزي المستخدم,</p>
<p>نشكر لك تسجيلك في موقع "ميدان قطر"، شبكة التواصل الاجتماعي الإخبارية الأولى في العالم العربي!</p>
<p>يرجى <a href="<%= link%>">النقر على الرابط لإتمام عملية التسجيل</a></p>
<p>نتطلع إلى مشاركتك الفاعلة، ونرحّب بإرسال أي تعليق يساهم في تحسين أداء "ميدان قطر" إلى العنوان التالي: info@maydan.qa</p>
<p>فريق عمل "ميدان قطر"</p>
</body>
</html>